# Common rules for both frontend and backend

# Node.js (frontend)
node_modules/
dist/
*.log

# Java (backend)
.idea/
*.iml
*.class
target/
build/
out/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
